@import "./../../styles/variables";
.container-btn-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .btn-lang{
        width: 38px;
        height: 36px;
        border-radius: 50%;
        border: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        
        color: $color-dark-2;
        
        &:hover, &.active{
            background-color: $color-primary !important;
            border-color: $color-primary !important;
            color: $color-primary-text!important;
        }
    }
}

.idioma{
    ul{
        li{
            padding: 0 5px;
        }
    }
}   