@import "variables";

/***************************************************************/ 
* { box-sizing: border-box; margin: 0; padding: 0; outline: 0; }
html{ font-size: 62.5%; } /* A cada 1rem vai considerar 10px */
body{ font-size: 1.6rem; }

html, body {
    margin-bottom: 0;

	// height: 100vh;
	// font-family: 'Hind', sans-serif;
	// text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	background-color: $color-primary;
	color: $color-primary-text;
    // -webkit-top-highlight-color: transparent;
}

*::selection  {
    background:#520fbe49;
}

ul:not(.ant-list-items){ display: flex;flex-wrap: wrap;}
ul:not(.ant-list-items) li { list-style: none; }
ul:not(.ant-list-items) li a{ text-decoration: none; }


#home, #sobre-mim, #projetos, #conhecimentos, #ciencia, footer{
    width: 100%;
    padding: 0 15vw;
}


::-webkit-scrollbar{width: 0.6vw;background-color: $color-primary;}
::-webkit-scrollbar-track{background-color: $color-primary;}
::-webkit-scrollbar-thumb{background: #6610F2;border-radius: 10px;}

